.button {
  --primary-color: #4496ff;
  --success-color: #62b72d;
  --warning-color: #ffc107;
  --warning-dark: #212529;
  --danger-color: #ff0000;
  --info-color: #6c757d;
  --info-dark: #ffffff;
  --sm-size: 22px;
  --md-size: 34px;
  --lg-size: 38px;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  max-width: 300px;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #d4d4d4;
    color: #bcbcbc;
    border: solid 1px #bcbcbc;
  }

  & > svg {
    flex-shrink: 0;
  }
}

/* Variants - Base colors */
.primary {
  --variant-color: var(--primary-color);
}

.success {
  --variant-color: var(--success-color);
}

.warning {
  --variant-color: var(--warning-color);
}

.danger {
  --variant-color: var(--danger-color);
}

.info {
  --variant-color: var(--info-color);
}

/* Appearances */
.filled {
  background-color: var(--variant-color);
  color: #ffffff;
  border: solid 1px var(--variant-color);
}

.warning.filled {
  color: var(--warning-dark);
}

.outline {
  background-color: #ffffff;
  color: var(--variant-color);
  border: solid 1px var(--variant-color);
}

.flat {
  background-color: transparent;
  color: var(--variant-color);
  border: solid 1px transparent;
}

.flat-inverted {
  background-color: transparent;
  color: #ffffff;
  border: solid 1px transparent;
}

/* Custom color support */
.customColor.filled {
  background-color: var(--custom-color);
  border-color: var(--custom-color);
  color: #ffffff;
}

.customColor.outline {
  background-color: transparent;
  border-color: var(--custom-color);
  color: var(--custom-color);
}

.customColor.flat {
  background-color: transparent;
  border-color: transparent;
  color: var(--custom-color);
}

.customColor.flat-inverted {
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
}

/* Sizes */
.sm {
  font-size: 0.875rem;
  padding: 0 0.75rem;
  height: var(--sm-size);
  gap: 0.25rem;

  &.hasIcon {
    padding-left: 0.5rem;
  }

  &.iconOnly {
    padding: unset;
    width: var(--sm-size);
  }
}

.md {
  font-size: 0.875rem;
  padding: 0 0.75rem;
  height: var(--md-size);
  gap: 0.375rem;

  &.hasIcon {
    padding-left: 0.5rem;
  }

  &.iconOnly {
    padding: unset;
    width: var(--md-size);
  }
}

.lg {
  font-size: 1rem;
  padding: 0 1rem;
  height: var(--lg-size);

  &.hasIcon {
    padding-left: 0.75rem;
  }

  &.iconOnly {
    padding: unset;
    width: var(--lg-size);
  }
}

/* Shapes */
.square {
  &.sm {
    border-radius: 5px;
  }
  &.md {
    border-radius: 6px;
  }
  &.lg {
    border-radius: 8px;
  }
}

.round {
  &.sm {
    border-radius: calc(var(--sm-size) / 2);
  }
  &.md {
    border-radius: calc(var(--md-size) / 2);
  }
  &.lg {
    border-radius: calc(var(--lg-size) / 2);
  }
}
