.stepper {
  width: 100%;
  padding: 0 16px;
  margin: 16px 0;
  position: relative;
}

.stepsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 2;
}

.linesContainer {
  position: absolute;
  top: 16px;
  left: 50px;
  right: 50px;
  display: flex;
  z-index: 1;
  width: calc(100% - 100px);
}

.line {
  height: 2px;
  background: #e2dedc;
  flex: 1;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: fit-content;
}

.stepCircle {
  width: 33.8px;
  height: 33.8px;
  border-radius: 50%;
  border: 1px solid #4496ff;
  background-color: #ffffff;
  color: #4496ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  z-index: 99;
}

.step.completed .stepCircle {
  background: linear-gradient(0deg, #0049a5 6.02%, #0067e9 47.48%, #4d9bff 93.3%);
  border: none;
  color: #ffffff;
}

.step.active .stepCircle {
  background: linear-gradient(0deg, #0049a5 6.02%, #0067e9 47.48%, #4d9bff 93.3%);
  border: none;
  color: #ffffff;
}

.stepLabel {
  font-size: 14px;
  color: #4c5260;
  text-align: center;
  margin-top: 4px;
  font-weight: 400;
}
