.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  table-layout: fixed;

  & thead {
    color: white;
    background: var(--gradiente-azul);
  }

  & tbody {
    color: #4c5260;

    & tr {
      height: 3rem;
    }

    & tr:hover {
      background-color: #d6ebff;
    }

    & tr.highlighted {
      background-color: #a6d4ff;
    }
  }

  & tr {
    border-bottom: 1px solid #e7e7e7;
  }

  & th {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
    height: 2.5rem;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & th.urgente,
  & th.bloqueado {
    max-width: 1em;
  }

  & th,
  & td {
    padding: 0.625em;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;

    &.left {
      text-align: left;
    }

    &.right {
      text-align: right;
    }

    &.center {
      text-align: center;
    }
  }

  & td {
    white-space: nowrap;
  }
}

.filterHeader {
  width: 200px;
  min-width: 180px;
  padding: 0.5rem !important;
}

.filterInput {
  width: 100%;
}

.filterCell {
  width: 200px;
  min-width: 180px;
}
