.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 1.25rem;
  color: #4c5260;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.today {
  font-size: 0.875rem;
}
